<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>survivingCodingBootCamp.com</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<div class="container">
    <header th:replace="fragments.html :: header"></header>
    
    <main class="main-content">
        <section class="main-content__topics topics">
            <h2 class="topics__title main-content__title" th:text="'Topics by '+ ${hashtag.tag}">Topics by Hashtag</h2>
            <nav class="main-content__nav posts__nav">
                <a th:each="post:${hashtag.posts}" th:text="${post.title}" th:href="'/posts/'+${post.id}" href="#"
                   class="posts__nav-link"></a>
            </nav>
        </section>
    </main>
    
    </div>
</body>
</html>
