<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${topic.name}">Document</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
<div class="container">
    <header th:replace="fragments.html :: header"></header>
    
    <main class="main-content">
        <section class="main-content__topic topic">
            <h2 th:text="${topic.name}" class="topic__title main-content__title">
                Topic
            </h2>
            <nav class="main-content__nav posts__nav">
                <div th:each="post: ${topic.posts}">
                    <a th:text="${post.title}" th:href="'/posts/'+${post.id}" href="#"
                       class="posts__nav-link"></a>
                </div>
            </nav>
        </section>
        <hr>
        <section>
            <br>
            <br>
            <h3>Create New Post:</h3>
            <form th:action="'/topics/'+${id}+'/addPost'" method="post">
                <label for="postTitle">Title:</label>
                <input type="text" name="title" id="postTitle">
                <br>
                <label for="postAuthor">Author:</label>
                <input type="text" name="author" id="postAuthor">
                <br>
                <label for="postContent">Content:</label>
                <textarea type="text" name="content" id="postContent" rows="4" cols="50" placeholder="Article/content goes here"></textarea>
                <br>
                <label for="postHashtag">Tags:</label>
                <input type="text" name="hashtag" id="postHashtag">
                <br>
                <input type="submit">
            </form>
        </section>
    </main>
</div>
</body>

</html>